@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
       <h4>
           Please contact the administrator for a password reset!
       </h4>
    </div>
</div>
